/* USE FOR CUSTOM STYLE AND LAYOUT: */
/* Add or adjust banners for organization */
/* modern-normalize is taking care of the box-sizing,
   which is still a standard way to design */


/* * * * * * * * * * * * * * * * * * * * * * * * *
    UTILITIES 
* * * * * * * * * * * * * * * * * * * * * * * * */
/* Screen Reader Only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
 --primary: #419358;
 --secondary: #6ca2d4;
 --secondary-lighter: #7cb8f0;
 --grey: rgb(237, 235, 235);
 --black: rgb(69, 56, 43);

  --text-size-xs: 0.79rem;
  --text-size-sm: 0.89rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.13rem;
  --text-size-xl: 1.27rem;
  --text-size-2xl: 1.42rem;
  --text-size-3xl: 1.6rem;
  --text-size-4xl: 1.8rem;
  --text-size-5xl: 2.03rem;
}
/* * * * * * * * * * * * * * * * * * * * * * * * *
    TYPOGRAPHY 
* * * * * * * * * * * * * * * * * * * * * * * * */
html {font-size: 16px;}

body {
  font-weight: false;
  line-height: 1.65;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: var(--text-size-md);
  padding: 5px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: var(--text-size-4xl);
  text-align: center;
}

h2,
.text-size-h2 { font-size: var(--text-size-3xl); text-align: center; }

h3,
.text-size-h3 { font-size: var(--text-size-2xl); }

h4,
.text-size-h4 { font-size: var(--text-size-xl); }

h5,
.text-size-h5 { font-size: var(--text-size-lg); }


small,
.text-small {
  font-size: var(--text-size-xs);
}

header {
    height: 400px;
    text-align: center;
}

header h1{
    padding: 8rem 0 2rem;
}

main {
    font-family: "Outfit", sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    STRUCTURE
* * * * * * * * * * * * * * * * * * * * * * * * */

.container {
    width: 88%;
    margin: 6rem auto;
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 4rem;
    color: white;
    margin: 0;
    height: 200px;
}


.secondary-text {
    color: var(--secondary);
}



/* * * * * * * * * * * * * * * * * * * * * * * * *
    COMPONENTS
* * * * * * * * * * * * * * * * * * * * * * * * */

/* 
    IMAGES
*/

/* 
    LINKS AND BUTTONS
*/

footer a:any-link {
    color: var(--secondary);
    font-weight: 600;
    transition: color 0.7s ease;
}

footer a:hover {
    color: white;
}



button {
    background-color: var(--secondary);
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5em 1.0em;
    margin: 1.0em 2.0em 0 0;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .2s ease-out, color .2s ease-out, border-color .18s ease-out;
}

button:hover {
    background-color: var(--secondary-lighter);
    transform: scale(1.05);
}

a:link,
a:visited {
    text-decoration: none;
    font-weight: bold;
}


/* 
    TABLES
*/

/* * * * * * * * * * * * * * * * * * * * * * * * *
    PAGE SPECIFIC
* * * * * * * * * * * * * * * * * * * * * * * * */

header {
    background-color: var(--secondary);
    margin: 0;
    color: white;
    padding: 0;
    position: relative;
    z-index: -100;
}

.book-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* * * * * * * * * * * * * * * * * * * * * * * * *
    NAVIGATION
* * * * * * * * * * * * * * * * * * * * * * * * */


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    /* Use JS to adjust width to see panel */
    height: 100%;
    width: 0;
    /* Overflow disables auto horizontal scroll */
    overflow-x: hidden;
    padding-top: 4rem;
    transition: 0.5s;
    background-color: white;
    & a {
        display: block;
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        font-size: var(--text-size-lg);
        text-decoration: none;
        transition: 0.3s;
        color: black;

        &:hover {
            color: var(--secondary);
        }
    }
}

.open-button {
    position: fixed;
    top: 1rem;
    right: 1rem;

    & span {
        font-size: var(--text-size-3xl);
        color: white;
    }

    &:hover {
        color: var(--grey);
        cursor: pointer;
    }
}

.close-button {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: var(--text-size-4xl);
    margin-left: 3rem;
    color: black;
    cursor: pointer;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
main {
    margin: 0;
    transition: margin-right .5s;
}
.is-pushed-over {
    margin-right: 300px;
    transition: margin-right .5s;
    padding: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * *
     MEDIA QUERIES
* * * * * * * * * * * * * * * * * * * * * * * * */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (width >=576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (width >=768px) {

    /* minor third */
    :root {
        --text-size-xs: 0.69rem;
        --text-size-sm: 0.83rem;
        --text-size-md: 1rem;
        --text-size-lg: 1.2rem;
        --text-size-xl: 1.44rem;
        --text-size-2xl: 1.73rem;
        --text-size-3xl: 2.07rem;
        --text-size-4xl: 2.49rem;
        --text-size-5xl: 2.99rem;
    }

    nav ul {
        align-items: flex-start;
    }
    .container {
        width: 64%;
    }
}


/* Large devices (desktops, 992px and up) */
@media (width >=992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (width >=1200px) {


}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (width >=1400px) {

}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    JS
* * * * * * * * * * * * * * * * * * * * * * * * */
#map { height: 180px; }